[Unit]
Description=Garderoben-Ticketsystem FUNKHAUS
After=multi-user.target

[Service]
Type=simple
User=pi
Group=pi
WorkingDirectory=/home/pi/garderobe
ExecStart=/usr/bin/python3 /home/pi/garderobe/garderobe.py
Restart=always
RestartSec=5

# USB device access
SupplementaryGroups=input lp

[Install]
WantedBy=multi-user.target
